@import "import";

// small phones
@include media($small){
  header {
    #logo img{ @include dimensions(60px); }
    #accessibility{
      @include dimensions(100px);
      div img{ @include dimensions(35px); }
    }
  }
}

// bigPhones and portrait tablets
@include media($bigPhone){
  header{
    #logo img{ @include dimensions(100px); }
    #bigTitle{ font-size: 70px; } 
  }
  #navBar #leftNav span{ display: initial; }

  #searchLayer {
    .searchPart button[type='submit'], input{ font-size: 16px; }
  }
  // when above 500px width, menu comes from right
  #menu{
    @include dimensions(0, 100%); // max W = 300px
    right: 0;
  }
  footer{ flex-direction: row; }
}

// tablets 
@include media($tablet){
  header{
    #bigTitle{ width: auto; }
    #accessibility{ order: 3; }
  } 
  #searchLayer {
    .searchPart button[type='submit'], input{ font-size: 20px; }
  }
}

// laptops
@include media($laptop){
  header #bigTitle{ font-size: 90px; }
  #searchLayer {
    .searchPart button[type='submit'], input{
      font-size: 20px;}
  }
}

// custom 
@include media("max-width: 500px"){ 
  #menu{ left: 0; } 
}